@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #26333d;
}

header {
    background-color: #26333d;
    height: 100px;
    width: 100%;
}

.Layout-grid {
    height: 100%;
    width: 100%;
    max-width: 992px;
    /* /border: 3px solid white;/ */
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 350px;
    height: 100%;

    color: white;
    font-size: small;
    font-family: "Montserrat", sans-serif;



}

header nav a {
    color: white;
    text-decoration: none;
}

/* /------------------------------------------------Header--------------------------------------------------/
/---------------------------------------Section 1 = Bem-Vindo--------------------------------------------/ */
.Banner-flex {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

}

#Banner {

   /* background-color: #4969df;*/
   background-color: #3691D8;
    height: 100%;
    width: 100%;
}

.Dividir {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

}

.Bem-vindo {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 450px;
    height: 300px;

}

.Bem-vindo button {
    background-color: #26333d;
    color: white;
    align-items: center;
    width: 180px;
    height: 35px;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;

}




#Banner h2 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: white;

}

#Banner p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
/* /---------------------------------------Section 1 = Bem-Vindo--------------------------------------------/

/-------------------------------------Section 2 = BibliotecFlex------------------------------------------/ */
.bibliotec-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

}

main {
    background-color: white;
    width: 100%;
    height: 100%;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border: 3px solid aqua;
    border-radius: 4px;
    margin-bottom: 40px;

}

.Articule {
    height: 400px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    margin-top: 70px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10%;
    font-size: large;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);



}

article h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    width: 100%;
    font-family: "Montserrat", sans-serif;

}

article p {
    font-family: "Montserrat", sans-serif;
}

div h1 {
    font-family: "Montserrat", sans-serif;
}

article h1 {
    font-family: "Montserrat", sans-serif;
}



.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.Circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-top: -120px;
    border: 4px solid aqua;
    background-color: white;
}

/* /-------------------------------------Section 2 = BibliotecFlex------------------------------------------/
/-------------------------------------Section 3 = Totalmente Gratis------------------------------------------/ */
.Benner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}

#Benner {

    background-color: #3691D8;
    margin-top: 50px;
}

.totalmente {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.nossa{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
}
#Benner h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}
#Benner p {
    color: white;
    font-family: "Montserrat", sans-serif;
}

#Benner button {
    background-color: #26333d;
    color: white;
    align-items: center;
    width: 135px;
    height: 35px;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}


/* /-------------------------------------Section 3 = Totalmente Gratis------------------------------------------/
/----------------------------------------------------Section 4 = Top Livros----------------------------------------------------/ */
.Books-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}

.Livros {

    /* width: 120px; */
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: wrap; */

    font-size: small;
}

.Livros img {
    width: 200px;
    height: 300px;
    /* height: 200px; */
}

.Livros h2 {
    /* margin-top: 3px; */
    font-size: medium;
    font-family: "Montserrat", sans-serif;
}

.Livros h3 {
    margin-top: 2px;
    font-family: "Montserrat", sans-serif;
}

.Livros p {
    margin-top: 2px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
}

/* /----------------------------------------------------Section 4 = Top Livros----------------------------------------------------/ */

footer {
    background-color: #26333d;

}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: initial;
    align-items: center;
    flex-wrap: wrap;
    /* height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto; */
}

.conteudo {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logos-img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nicksnav {
    /* display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: medium;
    font-family: "Montserrat", sans-serif; */
    width: 50%;
    margin-bottom: 20px;
    text-decoration: aqua;
}

.tres-caixa {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

.marginal {
    margin-bottom: 40px;
}

.icones {
    align-items: center;
    margin-top: 20px;
}

a {
    color: aqua;
}

.tres-caixa p {

    color: white;
}

.Linha {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Lbranco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-radius: 4px;
    margin-bottom: 40px;
}

/* /----------------------------------------------------Section 4 = Top Livros----------------------------------------------------/
/--------------------------------------------------------Responsividade--------------------------------------------------------/ */
@media screen and (max-width: 992px) {
        /* navbar */

    .menu{
        /* referencial - viewport */

        position: fixed;
        top: 0;
        left: -80%;
        z-index: 10;
        width: 80%;
        height: 100%;
        background-color: red;
    }

    .mostra-menu{
        left: 0;
    }

    .bibliotec-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    main {
        display: flex;
        flex-direction: column;

    }

    .Books-flex {

        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

    }

    .footer-flex {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .Layout-grid {
        height: 70%;
        width: 100%;
        max-width: 992px;
        margin: 0 auto;
    }

    .Dividir {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 15px;
    }

    h2 {

        font-size: 10px;
    }

    .totalmente {

        display: none;
    }

    .Mulher-do-banner {
        display: none;
    }

    .Bem-vindo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        font-size: 15px;
    }

    /* .header-flex nav {
        display: none;
    } */

    .conteudo {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .tres-caixa {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    /* .nicksnav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } */

    .nossa{
    margin-top: 60px;
    margin-bottom: 120px;
    }

    .nossa h2{
        margin-bottom: 30px;
    }
    .nossa p{
        margin-bottom: 30px;
    }

    .Articule{
        margin-bottom: 100px;
    }
}
