@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100%;
}

body {
    background-color: dodgerblue;
    font-family: "Montserrat", system-ui;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #26333d;
    height: 100px;
    width: 100%;
}

.layout-grid {
    margin: 0 auto;
    width: 100%;
    /* border: 3px solid snow; */
    max-width: 992px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100%;
    /* border: 3px solid snow; */
}

nav a:hover {
    color: #2FD6CB;
}

header nav a {
    color: #e9f0ef;
    text-decoration: none;
}

.porque-usar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    margin-top: 0;
    /* border: 2px solid salmon; */
    background-color: whitesmoke;
}

.porque-usar h2 {
    width: 100%;
    text-align: center;
    font-family: "Montserrat", system-ui;
    text-decoration: underline aqua;
}

.bibliotec-flex {
    width: 992px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    /* border: 2px solid salmon;*/
}

.motivo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    
    width: 250px;
    height: 70%;
    border-radius: 25px;
    border: 3px solid black;
    background-color: snow;
}

.borda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px solid aqua;
    margin-top: -60px;
    border-radius: 50%;
    border: 4px solid aqua;
    height: 80px;
    width: 80px;
    background-color: azure;
}

.motivo img {
    width: 50px;
    height: 50px;
}

.motivo p {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 20px;
}

.top-4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 992px;
}

.livro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-top: 0;
    /* border: 2px solid salmon; */
    background-color: whitesmoke;
}

.livro h2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: aqua;
    font-size: 42px;
    text-decoration: underline aqua;
}

.recomendados {
    width: 203px;
    height: 500px;
    text-align: center;
}

.recomendados img {
    width: 203px;
    height: 325px;
}

.recomendados h3 {
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
}

.recomendados p {
    font-size: 20px;
}

.recomendados-bold {
    font-weight: bold;
}

footer {
    background-color: #26333d;
    width: 100%;
    height: 800px;
    color: white;
}

footer hr {
    width: 100%;
    height: 0;
    color: #2FD6CB;
}

.organizacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.logos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* border: 2px solid red; */
}

.logos img {
    width: 175px;
    height: 100%;
    margin-bottom: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    /* border: 2px solid red; */
}   

.info section {
    margin-left: 40px;
}

.info p {
    font-size: 20px;
    font-weight: 300;
}

.info h2 {
    font-size: 20px;
    color: #2FD6CB;
    font-weight: 300;
    margin-bottom: 10px;
    width: 100%;
}

.apps {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 2px solid red; */
} 

.apps img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.apps h2 {
    color: #2FD6CB;
    font-weight: 300;
    font-size: 20px;
}

.barra {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.barra a {
    text-decoration: none;
    color: white;
}

section a:hover {
    color: #2FD6CB;
}

/* banner */

#banner {
    background-color: #3691D8;
    width: 100%;
    /* height: 580px; */
}

.banner-info {
    width: 450px;
    height: 300px;
    /* border: 3px solid white; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red;   */
    /* height: 100%;     */
}

#banner img{
    width: 500px;
    height: 100%;
}
h1{
    color: white;
    font-size: 30px;
}

.banner-info p {
    color: white;
    font-size: 20px;
    
}

.banner-info button {
    background-color: #26333D;
    color: white;
    font-size: 20px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px 20px 10px 20px;
    height: 50px;
    border-radius: 7px;
    width: 180px;
    border: none;
    text-transform: uppercase;
}

.totalmente-info button{
    background-color: #26333D;
    color: white;
    font-size: 20px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px 20px 10px 20px;
    height: 50px;
    border-radius: 7px;
    width: 180px;
    border: none;
    text-transform: uppercase;
}

.totalmente-info p{
    font-size: 20px;
}

.totalmente-info h2 {
    /* margin-bottom: 30px; */
    font-size: 25px;
}

.totalmente-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 400px;
    height: 250px;
    color: white;
}

#totalmente img{
    width: 490px;
}

.totalmente-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#totalmente {
    background-color: #3691D8;
}